body{
    background-image: url(../img/foto.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}
.navbar.navbar-expanded-lg.bg-primary{
background-image: url(../img/fondo\ ladrillos.jpeg);}

i.fa-brands.fa-github.fa-2xl:hover{
color: rgb(253, 253, 253);
}
i.fa-brands.fa-linkedin.fa-2xl:hover{
    color: blue;
}
i.fa-brands.fa-instagram.fa-2xl:hover{
    color: red;
}
i.fa-solid.fa-user.fa-2xl:hover{
    color:rgb(109, 111, 112)
}
.list-group-item{
    background-color: transparent;
    border: none;
}
.banner{
width: 75%;
height: 600px;
animation: banner 10s infinite linear alternate;
background-size: 100% 100%;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
@keyframes banner{
    0%, 20% { background-image: url(../img/banner\ 1.jpg);}
    20%, 50% { background-image: url(../img/banner\ 2.jpg);}
    50%, 70% { background-image: url(../img/banner\ 3.jpg);}
    70%, 100% { background-image: url(../img/banner\ 4.jpg);}
}
